<div class="container glide">
    <h2 class="slider__title">Ultimos Lanzamientos</h2>
       <div class="glide__track" data-glide-el="track">
           <ul class="glide__slides">
               <li class="glide__slide">
                   <article class="card-item">
                       <a class="card-item__link" href="">
                           <picture class="card-item__cover">
                               <span class="card-item__tag">Nuevo</span>
                               <img class="card-item__img--front" src="../assets/img/star-wars/trooper-1.webp"
                                   alt="producto de trooper" />
                               <img class="card-item__img--back" src="../assets/img/star-wars/trooper-box.webp"
                                   alt="producto de trooper en caja" />
                               <!---<img src="assets/img/star-wars/trooper-1.webp"  alt="producto de trooper"/> -->
                           </picture>
                           <div class="card-item__content">
                               <p class="card-item__licence">STAR WARS</p>
                               <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                               <p class="card-item__price">$ 1799,99</p>
                               <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                           </div>
                       </a>
                   </article>
               </li>
               <li class="glide__slide">
                   <article class="card-item">
                       <a class="card-item__link" href="">
                           <picture class="card-item__cover">
                               <span class="card-item__tag">Nuevo</span>
                               <img class="card-item__img--front" src="../assets/img/pokemon/pidgeotto-1.webp"
                                   alt="producto de Pidgeotto" />
                               <img class="card-item__img--back" src="../assets/img/pokemon/pidgeotto-box.webp"
                                   alt="producto de Pidgeotto en caja" />
                               <!---<img src="assets/img/star-wars/trooper-1.webp"  alt="producto de trooper"/> -->
                           </picture>
                           <div class="card-item__content">
                               <p class="card-item__licence">POKEMON</p>
                               <h4 class="card-item__name">PIDGEOTTO</h4>
                               <p class="card-item__price">$ 1799,99</p>
                               <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                           </div>
                       </a>
                   </article>
               </li>
               <li class="glide__slide">
                   <article class="card-item">
                       <a class="card-item__link" href="">
                           <picture class="card-item__cover">
                               <span class="card-item__tag">Nuevo</span>
                               <img class="card-item__img--front" src="../assets/img/harry-potter/luna-1.webp"
                                   alt="producto de Luna" />
                               <img class="card-item__img--back" src="../assets/img/harry-potter/luna-box.webp"
                                   alt="producto de Luna" />
                               <!---<img src="assets/img/star-wars/trooper-1.webp"  alt="producto de trooper"/> -->
                           </picture>
                           <div class="card-item__content">
                               <p class="card-item__licence">HARRY POTTER</p>
                               <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                               <p class="card-item__price">$ 1799,99</p>
                               <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                           </div>
                       </a>
                   </article>
               </li>
           </ul>
       </div>
       <div class="glide__arrows" data-glide-el="controls">
           <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="material-symbols:chevron-left" class="iconify-icon"></iconify-icon></button>
           <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="material-symbols:chevron-right" class="iconify-icon"></iconify-icon></button>
         </div>
     </div>